In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('data.csv')
df.head()

In [ ]:
df.shape

In [ ]:
df.isnull().sum()

In [ ]:
df.isnull().sum().sum()

# Missing Value Handling

In [ ]:
df2 = df.fillna(value=0)
df2

In [ ]:
df2.isnull().sum().sum()

Filling NULL values with previous values

In [ ]:
df3 = df.fillna(method = 'pad')
df3.isnull().sum().sum()

Filling NULL values with next row values

In [ ]:
df4 = df.fillna(method = 'bfill')
df4.isnull().sum().sum()

Filling NULL value with prev column values

In [ ]:
df5 = df.fillna(method = 'pad', axis = 1)
df5

Filling NULL values with next column values

In [ ]:
df6 = df.fillna(method = 'bfill', axis=1)
df6

Filling Different values in NULL in different Columns

In [ ]:
df7 = df.fillna({'society': 'abcd',
'balcony': 'dcb'})
df7

Filling with Mean, Max, Min or other operations of a column

In [ ]:
df8 = df.fillna(value=df['balcony'].mean())
df8

# Dropping NULL

In [ ]:
df9  = df.dropna()
df9

Parameters

In [ ]:
df10 = df.dropna(how='any')
df10

In [ ]:
df11 = df.dropna(how='all')
df11

NULL Replace

In [ ]:
df12 = df.replace(to_replace=np.nan, value= 875465)
df12

NULL Interpolate

In [20]:
df['balcony'] = df['balcony'].interpolate(method='linear', limit_direction='forward')
df

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00
...,...,...,...,...,...,...,...,...,...
13315,Built-up Area,Ready To Move,Whitefield,5 Bedroom,ArsiaEx,3453,4.0,0.0,231.00
13316,Super built-up Area,Ready To Move,Richards Town,4 BHK,NaN,3600,5.0,0.5,400.00
13317,Built-up Area,Ready To Move,Raja Rajeshwari Nagar,2 BHK,Mahla T,1141,2.0,1.0,60.00
13318,Super built-up Area,18-Jun,Padmanabhanagar,4 BHK,SollyCl,4689,4.0,1.0,488.00
13319,Super built-up Area,Ready To Move,Doddathoguru,1 BHK,NaN,550,1.0,1.0,17.00