In [1]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('data.csv')
df.head()

In [5]:
df.shape

(13320, 9)

In [ ]:
df.isnull().sum()

In [8]:
df.isnull().sum().sum()

6201

# Missing Value Handling

In [ ]:
df2 = df.fillna(value=0)
df2

In [10]:
df2.isnull().sum().sum()

0

Filling NULL values with previous values

In [13]:
df3 = df.fillna(method = 'pad')
df3.isnull().sum().sum()

0

Filling NULL values with next row values

In [14]:
df4 = df.fillna(method = 'bfill')
df4.isnull().sum().sum()

1

Filling NULL value with prev column values

In [ ]:
df5 = df.fillna(method = 'pad', axis = 1)
df5

Filling NULL values with next column values

In [ ]:
df6 = df.fillna(method = 'bfill', axis=1)
df6

Filling Different values in NULL in different Columns

In [ ]:
df7 = df.fillna({'society': 'abcd',
'balcony': 'dcb'})
df7

Filling with Mean, Max, Min or other operations of a column

In [ ]:
df8 = df.fillna(value=df['balcony'].mean())
df8

# Dropping NULL

In [ ]:
df9  = df.dropna()
df9

Parameters

In [ ]:
df10 = df.dropna(how='any')
df10

In [ ]:
df11 = df.dropna(how='all')
df11

NULL Replace

In [ ]:
df12 = df.replace(to_replace=np.nan, value= 875465)
df12