Feature Scaling is done with speedup gradient descent convergence, or to reduce average euclidian distance and overall ML model performance in many models

We should not use feature scaling in Decision Tree, random forest, XGBoost

In [1]:
import pandas as pd
import numpy as np

In [2]:
dataset = pd.read_csv("data.csv", delimiter=';')
df = dataset.head(11)
df

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
0,STRING,DOUBLE,INT,DOUBLE,DOUBLE,DOUBLE,DOUBLE,INT,CAT
1,Chevrolet Chevelle Malibu,18.0,8,307.0,130.0,3504.,12.0,70,US
2,Buick Skylark 320,15.0,8,350.0,165.0,3693.,11.5,70,US
3,Plymouth Satellite,18.0,8,318.0,150.0,3436.,11.0,70,US
4,AMC Rebel SST,16.0,8,304.0,150.0,3433.,12.0,70,US
5,Ford Torino,17.0,8,302.0,140.0,3449.,10.5,70,US
6,Ford Galaxie 500,15.0,8,429.0,198.0,4341.,10.0,70,US
7,Chevrolet Impala,14.0,8,454.0,220.0,4354.,9.0,70,US
8,Plymouth Fury iii,14.0,8,440.0,215.0,4312.,8.5,70,US
9,Pontiac Catalina,14.0,8,455.0,225.0,4425.,10.0,70,US
10,AMC Ambassador DPL,15.0,8,390.0,190.0,3850.,8.5,70,US

In [3]:
buy = ['FLOAT', 0, 0, 0, 0, 0, 1, 1, 1, 1, 0]
df['Buy']=buy
df

C:\Users\User\AppData\Local\Temp\ipykernel_12272\4184335015.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Buy']=buy

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin,Buy
0,STRING,DOUBLE,INT,DOUBLE,DOUBLE,DOUBLE,DOUBLE,INT,CAT,FLOAT
1,Chevrolet Chevelle Malibu,18.0,8,307.0,130.0,3504.,12.0,70,US,0
2,Buick Skylark 320,15.0,8,350.0,165.0,3693.,11.5,70,US,0
3,Plymouth Satellite,18.0,8,318.0,150.0,3436.,11.0,70,US,0
4,AMC Rebel SST,16.0,8,304.0,150.0,3433.,12.0,70,US,0
5,Ford Torino,17.0,8,302.0,140.0,3449.,10.5,70,US,0
6,Ford Galaxie 500,15.0,8,429.0,198.0,4341.,10.0,70,US,1
7,Chevrolet Impala,14.0,8,454.0,220.0,4354.,9.0,70,US,1
8,Plymouth Fury iii,14.0,8,440.0,215.0,4312.,8.5,70,US,1
9,Pontiac Catalina,14.0,8,455.0,225.0,4425.,10.0,70,US,1
10,AMC Ambassador DPL,15.0,8,390.0,190.0,3850.,8.5,70,US,0

In [4]:
independent=df.iloc[1:,1:7].values
independent

array([['18.0', '8', '307.0', '130.0', '3504.', '12.0'],
       ['15.0', '8', '350.0', '165.0', '3693.', '11.5'],
       ['18.0', '8', '318.0', '150.0', '3436.', '11.0'],
       ['16.0', '8', '304.0', '150.0', '3433.', '12.0'],
       ['17.0', '8', '302.0', '140.0', '3449.', '10.5'],
       ['15.0', '8', '429.0', '198.0', '4341.', '10.0'],
       ['14.0', '8', '454.0', '220.0', '4354.', '9.0'],
       ['14.0', '8', '440.0', '215.0', '4312.', '8.5'],
       ['14.0', '8', '455.0', '225.0', '4425.', '10.0'],
       ['15.0', '8', '390.0', '190.0', '3850.', '8.5']], dtype=object)

In [5]:
dependent = df.iloc[1:, 9:].values
dependent

array([[0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0]], dtype=object)

In [6]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test = train_test_split(independent,dependent,test_size=0.2,random_state=0)

In [9]:
from sklearn.preprocessing import StandardScaler
stndrd = StandardScaler()
x_train = stndrd.fit_transform(x_train)
x_train

array([[ 1.13389342,  0.        , -1.15956196, -1.11457245, -1.08595059,
         0.1796053 ],
       [-0.37796447,  0.        ,  0.29817307,  0.43344484, -0.04416545,
        -1.25723711],
       [-0.37796447,  0.        , -0.36443376, -0.3405638 , -0.45204642,
         0.89802651],
       [-1.13389342,  0.        ,  1.35834401,  1.36225522,  1.26521037,
        -0.89802651],
       [-1.13389342,  0.        ,  1.12643162,  1.20745349,  1.15609572,
        -1.25723711],
       [ 0.37796447,  0.        , -1.12643162, -0.80496899, -1.12751807,
         1.25723711],
       [ 1.88982237,  0.        , -1.0767361 , -1.42417591, -0.94306235,
         1.25723711],
       [-0.37796447,  0.        ,  0.94421474,  0.68112761,  1.23143679,
        -0.1796053 ]])

In [ ]:
x_test = stndrd.transform(x_test)
x_test